<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Page</title>
  <link rel="stylesheet" href="https://cdn.plyr.io/3.6.8/plyr.css">
  <style>
    .plyr__captions {
      bottom: 10px !important;
    }
    .plyr__captions span {
      font-size: 30px !important;  /* Adjust this value to increase or decrease the font size */
    }
  </style>
</head>
<body>
  <video controls poster="" id="player">
    <source src="/Movies/Dune - Part Two [2024][2160p][WEB].mkv" type="video/mp4">
    <track kind="subtitles" src="/Subtitles/Dune.vtt" srclang="vi" label="Vietnamese">
    Your browser does not support the video tag.
  </video>

  <script src="https://cdn.plyr.io/3.6.8/plyr.js"></script>
  <script>
    const player = new Plyr('#player');
  </script>

</body>
</html>